body {
	font-family:sans-serif;
	margin: 0;
	background-color:#222;
	color: #aaa;
	overflow-x: hidden;
}

::selection{
	color:#eee !important;
	background-color: #c00 !important;
	text-decoration-color: #eee !important;
}

#header {
	width:100%;
	margin: 0;
	background-color: #000;
	color: #aaa;
	padding:0.5rem;
	position:sticky;
	border-bottom:#aaa solid 2px;
}

#header h1{margin-left:5vw;}

#sliding{
	display:flex;
	flex-direction:row;
	align-items:stretch;
	justify-content:start;
	margin-bottom:0;
	height: 80vmin;
	width: 270vw;
	margin-top: 0 !important;
	animation-name:carrossel;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}

@media (min-aspect-ratio:9/5) {
	@keyframes carrossel {
		0% {margin-top: 5vh;}
		27% {margin-top: 5vh;}
		33% {margin-top: -85vh;}
		61% {margin-top: -85vh;}
		67% {margin-top: -175vh;}
		93% {margin-top: -175vh;}
		100% {margin-top: 5vh;}
	}
}
@media (max-aspect-ratio:9/5) {
	@keyframes carrossel {
		0% {margin-left: 5vw;}
		27% {margin-left: 5vw;}
		33% {margin-left: -85vw;}
		61% {margin-left: -85vw;}
		67% {margin-left: -175vw;}
		93% {margin-left: -175vw;}
		100% {margin-left: 5vw;}
	}
}

#sliding div{
	display:flex;
	flex-direction:column;
	align-items: start;
	justify-content:end;
	box-sizing: border-box;
	width:90vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#fff;
	padding:1rem;
	flex-shrink: 0;
}
#sliding div h2, #sliding div p{
	background-color: #000a;
	padding:0.2rem;
	max-width: 60%;
}

#etc{
	background-color:#000;
	box-sizing: border-box;
	width:90vw;
	margin: 0 5vw 32px 5vw;
	padding:0 1rem;
	display:grid;
	row-gap: 0;
	grid-auto-flow: row;
}

@media (min-width: 750px) {
	#etc {
		grid-template-columns: 1fr 1fr 1fr;
	}
	#etc h1{
		grid-column-end: 4;
	}
}

@media (min-width: 550px) and (max-width: 750px) {
	#etc {
		grid-template-columns: 1fr 1fr;
	}
	#etc h1{
		grid-column-end: 3;
	}
}

@media (max-width: 550px) {
	#etc {
		grid-template-columns: 1fr;
	}
	#etc h1{
		grid-column-end: 2;
	}
}

#etc h1{
	grid-column-start: 1;
	margin: 1rem auto;
}

.unidadetc {
	margin: 10px;
}

.metade.topo{
	border-radius: 10px 10px 0 0;
	border-width: 1px 1px 0 1px;
	background-color:#222;
	text-align: center;
}
.metade.topo.link:hover {background-color: #333;}

.metade.base{
	border-radius: 0 0 10px 10px;
	border-width: 0 1px 1px 1px;
	background-color:#111;
}

.metade{
	border-color:#aaa;
	border-style: solid;
	width:100%;
	padding:10px;
	box-sizing: border-box;
}


#bot1{background-image: url(twitterBot.png);}
#hum01{background-image: url(hum01.png);}
#momentum{background-image: url(momentum.png);}

.destaque, .metade.topo {color:#fd0;}

h1,h2,p {margin:0;}

a {	color: #ca0;}
a:hover {color:#ec0;}
