body {
	display: flex;
	flex-direction:row;
	align-items:start;
	justify-content:start;
	font-family:sans-serif;
	margin: 0;
	background-color:#222;
	color: #aaa;
	overflow-y: hidden;
}

::selection{
	color:#eee !important;
	background-color: #c00 !important;
	text-decoration-color: #eee !important;
}

#header {
	height:100vh;
	margin: 0;
	background-color: #000;
	color: #aaa;
	padding:0 0.5rem;
	position:sticky;
	border-right:#aaa solid 2px;
}

#header h1{
	margin:5vh 0;
	font-family: monospace;
	font-size: 1.8rem;
	width:0.6em;
	line-height:8.18vh;
	line-break: anywhere;
}

#sliding{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:start;
	height: 270vh;
	width: 160vh;
	margin-left: 0 !important;
	animation-name:carrossel;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}
@media (min-aspect-ratio:9/5) {
	@keyframes carrossel {
		0% {margin-top: 5vh;}
		27% {margin-top: 5vh;}
		33% {margin-top: -85vh;}
		61% {margin-top: -85vh;}
		67% {margin-top: -175vh;}
		93% {margin-top: -175vh;}
		100% {margin-top: 5vh;}
	}
}
@media (max-aspect-ratio:9/5) {
	@keyframes carrossel {
		0% {margin-left: 5vw;}
		27% {margin-left: 5vw;}
		33% {margin-left: -85vw;}
		61% {margin-left: -85vw;}
		67% {margin-left: -175vw;}
		93% {margin-left: -175vw;}
		100% {margin-left: 5vw;}
	}
}

#sliding div{
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items: start;
	justify-content:end;
	height:90vh;
	width:160vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#fff;
	padding:1rem;
}
#sliding div h2, #sliding div p{
	background-color: #000a;
	padding:0.2rem;
	max-width: 60%;
}
#etc{
	box-sizing: border-box;
	background-color:#000;
	height:90vh;
	margin: 5vh 0;
	padding:0 1rem;
	display:grid;
	row-gap: 0;
	grid-auto-flow: column;
}

@media (min-height: 37rem) {
	#etc {
		grid-template-rows: 1fr 3fr 3fr 3fr;
	}
}

@media (min-height: 31rem) and (max-height: 37rem) {
	#etc {
		grid-template-rows: 1fr 3fr 3fr;
	}
}

@media (max-height: 31rem) {
	#etc {
		grid-template-rows: 1fr 3fr;
	}
	#etc h1{margin-left:10px !important;}
	.metade.base{height:50vh;}
	.metade {width:unset}
}

#etc h1{
	grid-column-start: 1;
	grid-column-end: 999;
	margin: auto;
}

.metade.topo{
	border-radius: 10px 10px 0 0;
	border-width: 1px 1px 0 1px;
	margin:auto 10px 0 10px;
	background-color:#222;
	text-align: center;
}

.metade.topo.link:hover {background-color: #333;}

.metade.base{
	border-radius: 0 0 10px 10px;
	border-width: 0 1px 1px 1px;
	margin: 0 10px 10px 10px;
	background-color:#111;
}

.metade{
	border-color:#aaa;
	border-style: solid;
	width:20rem;
	padding:10px;
}

#bot1{background-image: url(twitterBot.png);}
#hum01{background-image: url(hum01.png);}
#momentum{background-image: url(momentum.png);}

.destaque, .metade.topo{color:#fd0;}

h1,h2,p {margin:0;}

a {	color: #ca0;}
a:hover {color:#ec0;}
