#tudo {
	border: #001427 2px solid;
	width:90vmin;
	border-radius:3vmax;
	margin: 20vh auto 0 auto;
	background:#ddd;
	padding-bottom:2em;
}

#form {
	margin: 0 auto;
	text-align:left;
	width:min-content;
}

body {
	font-family:sans-serif;
	text-align:center;
	background-image: url("aviaoTile.png");
	background-size: 20vmax;
}

h1 {
	color:#01295c;
	margin:2em;
}

input {
	padding:0.5em;
	border-radius:0.5em;
}

input[type="submit"] {
	color:white;
	background-color:#01295c;
	border-color:#05b;
	padding:1em 5em;
	border-radius:1em;
	margin:2.5em 0 0.5em 0;
}

input[type="submit"]:hover {	
	background-color:#024294;
}

label {
	font-weight:bold;
	font-size: 0.7em;
}
