#corpo {
	border: #001427 2px solid;
	width:90vmin;
	min-width:300px;
	min-height:50vh;
	border-radius:3vmax;
	margin: 20vh auto 0 auto;
	background:#ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#form {
	margin: 0 auto;
	text-align:left;
	width:min-content;
}

body {
	font-family:sans-serif;
	text-align:center;
	margin:0;
}

h1 {
	color:#01295c;
	/* margin:2em; */
}

input {
	padding:0.5em;
	border-radius:0.5em;
}

input[type="submit"] {
	color:white;
	background-color:#01295c;
	border-color:#05b;
	padding:1em 5em;
	border-radius:1em;
	margin:2.5em 0 0.5em 0;
}

input[type="submit"]:hover {	
	background-color:#024294;
}

label {
	font-weight:bold;
	font-size: 0.7em;
}

#header {
	width: 100%; height: 2.6rem;
	background-color: #ddd;
	border-bottom: #aaa 2px solid;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#header div {margin: 0 1rem;}

#header div a{
	padding: 0.6rem;
	border-radius: 0.1rem;
	color: #888;
	text-decoration: none;
}

#header div a:hover, #home:hover{
	background-color: #aaa;
}

#head-left a {
	font-weight: bold;
	color:#01295c !important;
}

#ddButton {
	display: none;
}

#home {
	background: url("https://www.itajunior.com.br/resources/images/icons/IconeAviao.ico") no-repeat;
	background-position: 7% center;
	background-size: 1.4rem;
}

@media (max-width:400px) {
	#header {
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	#head-right {
		display: none;
		flex-direction: column;
	}
	#head-left {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	#ddButton {
		display:block;
	}
}